body{
    background-color: rgb(13, 85, 61);
    font-size: larger;
}
form {
    background-color: rgb(244, 247, 248);
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 10px;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.btn4{
    display:inline-block;
    background: rgb(192, 68, 155);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn4:hover{
    background: #563434;
}
.btn3{
    font-size: medium;
    display:inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
   
}
.btn3:hover{
    background: rgb(62, 129, 107);
}
.btn1{
    display:inline-block;
    background: blue;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn1:hover{
    background: #563434;
}
.btn2{
    display:inline-block;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn2:hover{
    background: #563434;
}

table {
    width: 100%;
    
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.social{
    text-align: center;
}

